* {
  font-family: monaco;
}

a, form{
	display: inline-block;
/*	text-decoration: underline;*/
}

table, th, td {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 10px;
    /*text-align: left;*/
}
th, td {
    text-indent: 10px;
}
tr:nth-child(even) {
    background-color: lightblue;
}
tr:nth-child(odd) {
    background-color: cyan;
}
th{
	background-color: #D3D3D3;
	margin: 5px;
}

h6{
	margin: 10px;
}

#add_btn, #rem_btn{
	margin: 5px;
}

#rem_btn{
	border:none;
	outline:none;
	background:none;
	cursor:pointer;
	color:#0000EE;
	padding:0;
	text-decoration:underline;
	font-family:inherit;
	font-size:inherit;
}